@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-container {
  max-height: 240px;
  overflow-y: auto;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
