@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-container {
  max-height: 240px;
  overflow-y: auto;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0; 
}

.scrollbar-hidden {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; 
}
